@{
    ViewBag.Title = "Http404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">控制台</a>
            </li>

            <li>
                <a href="#">错误</a>
            </li>
            <li class="active">404</li>
        </ul><!-- /.breadcrumb -->
        <!-- #section:basics/content.searchbox -->
        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
        <!-- /section:basics/content.searchbox -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <!-- #section:pages/error -->
                <div class="error-container">
                    <div class="well">
                        <h1 class="grey lighter smaller">
                            <span class="blue bigger-125">
                                <i class="ace-icon fa fa-sitemap"></i>
                                404
                            </span>
                            页面未找到
                        </h1>

                        <hr />
                        <h3 class="lighter smaller">我们也正在寻找他!</h3>

                        <div>
                            <form class="form-search">
                                <span class="input-icon align-middle">
                                    <i class="ace-icon fa fa-search"></i>

                                    <input type="text" class="search-query" placeholder="Give it a search..." />
                                </span>
                                <button class="btn btn-sm" type="button">Go!</button>
                            </form>

                            <div class="space"></div>
                            <h4 class="smaller">Try one of the following:</h4>

                            <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                <li>
                                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                                    Re-check the url for typos
                                </li>

                                <li>
                                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                                    Read the faq
                                </li>

                                <li>
                                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                                    Tell us about it
                                </li>
                            </ul>
                        </div>

                        <hr />
                        <div class="space"></div>

                        <div class="center">
                            <a href="javascript:history.back()" class="btn btn-grey">
                                <i class="ace-icon fa fa-arrow-left"></i>
                                返回
                            </a>

                            <a href="/home/index" class="btn btn-primary">
                                <i class="ace-icon fa fa-tachometer"></i>
                                控制台
                            </a>
                        </div>
                    </div>
                </div>

                <!-- /section:pages/error -->
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>

@section scriptsplugin {

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="~/assets/js/excanvas.js"></script>
    <![endif]-->
    <script src="~/assets/js/jquery-ui.custom.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.js"></script>
    <script src="~/assets/js/jquery.easypiechart.js"></script>
    <script src="~/assets/js/jquery.sparkline.js"></script>
    <script src="~/assets/js/flot/jquery.flot.js"></script>
    <script src="~/assets/js/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/js/flot/jquery.flot.resize.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script>
        var baseUrl = '@Url.Content("~/")';
    </script>

    <script src="~/Scripts/appnoui.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/controllers/getmodel.js"></script>
}