@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagesize = Request.QueryString["pagesize"] == null ? "10" : Request.QueryString["pagesize"];
}

@section stylesplugin{
    <link rel="stylesheet" href="~/assets/css/chosen.css" />
}

<div class="main-content-inner" ng-app="adminApp">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">控制台</a>
            </li>

            <li>
                <a href="#">数据字典</a>
            </li>
            <li class="active">列表</li>
        </ul>
        <!-- /.breadcrumb -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <div class="page-header row">
            <h1 class="pull-left">
                用户信息管理
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    列表
                </small>
            </h1>
        </div>
        <!-- /.page-header -->

        <div class="row" ng-controller="userInfoController">
            <div class="col-xs-12">
                <div class="row">

                    @using (Html.BeginForm("Index", "DataDiction", FormMethod.Get, new { @class = "form-inline", role = "form" }))
                    {
                        <div class="pull-left col-xs-8 clearfix ">
                            <input type="text" class="col-xs-2" placeholder="关键字" name="keyname" value="" />

                            <button type="submit" class="btn btn-default btn-sm">
                                <i class="ace-icon fa fa-search bigger-110"></i>查询
                            </button>
                        </div>
                        <div class="col-xs-4 clearfix ">

                            <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="ace-icon glyphicon glyphicon-refresh bigger-110"></i>刷新</button>
                            <span class="pull-right">&nbsp;</span>
                            <button class="btn btn-sm btn-success pull-right col-sm-offset-1" type="button" ng-click="insert();"><i class="ace-icon fa fa-plus bigger-110"></i>新增</button>
                        </div>
                    }
                </div>
                <div class="space-6"></div>
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div>
                        </div>
                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace checkboxall" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>用户标识</th>
                                    <th>用户名称</th>
                                    <th>排序</th>
                                    <th>创建时间</th>
                                    <th>最后修改时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="item in dataUserList">
                                    <td class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace checkboxitem" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td>{{item.UserId}}</td>
                                    <td>{{item.UserName}}</td>
                                    <td>{{item.Sort}}</td>
                                    <td>{{item.CreateDate | jsonDate:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{item.UpdateDate | jsonDate:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a class="blue" href="#">
                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                            </a>

                                            <a class="green" href="#" onclick="updateModal('')">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a class="red" href="#">
                                                <i class="ace-icon fa fa-trash-o bigger-130" onclick="del('')"></i>
                                            </a>
                                        </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit" onclick="updateModal('')">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete" onclick="del('')">
                                                            <span class="red">
                                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.span -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-xs-12">
                        <section class="col-xs-6" style="height:74px;line-height:74px">
                            <label class="pull-left"> 当前第{{bigCurrentPage}}页 / 总共{{numPages}}页 / 总共{{bigTotalItems}}条记录 / 每页</label>
                            <div class="pull-left" style="line-height:74px">
                                <select class="chosen-select" id="pagesize" ng-change="updatePageSize(itemsPerPage);" ng-model="itemsPerPage" data-placeholder="条数">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                </select>
                            </div>
                        </section>

                        <section class="col-xs-6" style="height:74px;">

                            <uib-pagination class="pagination-sm pull-right" style="height:74px;line-height:74px" total-items="bigTotalItems" ng-model="bigCurrentPage" items-per-page="@pagesize" max-size="maxSize" boundary-links="true" num-pages="numPages"></uib-pagination>
                        </section>
                    </div>
                </div>

                <div class="hr hr-18 dotted hr-double"></div>
                <div id="modal-map" class="modal fade" tabindex="-1">
                    <div class="modal-dialog" style="width:50%;">
                        <div class="modal-content">
                            <div class="modal-header no-padding">
                                <div class="table-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <span class="white">&times;</span>
                                    </button>
                                    <p class="model-title">新增</p>
                                </div>
                            </div>

                            <div class="modal-body">
                                <form id="insertForm" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="itxtkeyname">关键字</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="itxtkeyname" placeholder="关键字" name="keyname" class="col-xs-10 col-sm-8" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="itxtvaluecontent"> 对应值 </label>
                                        <div class="col-sm-9">
                                            <input type="text" id="itxtvaluecontent" placeholder="对应值" name="valuecontent" class="col-xs-10 col-sm-8 " />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="itxtkeydescribe"> 描述 </label>
                                        <div class="col-sm-9">
                                            <input type="text" id="itxtkeydescribe" placeholder="描述" name="keydescribe" class="col-xs-10 col-sm-8 " />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="itxtstylename"> 数据类型 </label>
                                        <div class="col-sm-9">
                                            <select class="chosen-select col-xs-10 col-sm-8 " id="itxtstylename" name="stylename" data-placeholder="数据类型"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="itxtissystem"> 是否系统 </label>
                                        <div class="col-sm-9">
                                            <select class="chosen-select col-xs-10 col-sm-8 " id="itxtissystem" name="issystem" data-placeholder="是否系统">
                                                <option value="0">是</option>
                                                <option value="1">否</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info " id="ibtnSubmit" type="submit"> <i class="ace-icon fa fa-check bigger-110"></i>  提交 </button>
                                            &nbsp; &nbsp; &nbsp;
                                            <button class="btn " id="ibtnReset" type="reset"> <i class="ace-icon fa fa-undo bigger-110"></i>  重置 </button>
                                        </div>
                                    </div>
                                </form>
                                <form id="updateForm" class="form-horizontal" role="form" style="display:none">
                                    <input type="hidden" name="ddId" id="ddId" />
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="utxtkeyname">关键字</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="utxtkeyname" placeholder="关键字" name="keyname" class="col-xs-10 col-sm-8 checkColor" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="utxtvaluecontent"> 对应值 </label>
                                        <div class="col-sm-9">
                                            <input type="text" id="utxtvaluecontent" placeholder="对应值" name="valuecontent" class="col-xs-10 col-sm-8 " />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="utxtkeydescribe"> 描述 </label>
                                        <div class="col-sm-9">
                                            <input type="text" id="utxtkeydescribe" placeholder="描述" name="keydescribe" class="col-xs-10 col-sm-8 " />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="utxtstylename"> 数据类型 </label>
                                        <div class="col-sm-9">
                                            <select class="chosen-select col-xs-10 col-sm-8 " id="utxtstylename" name="stylename" data-placeholder="数据类型"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="utxtissystem"> 是否系统 </label>
                                        <div class="col-sm-9">
                                            <select class="chosen-select col-xs-10 col-sm-8 " id="utxtissystem" name="issystem" data-placeholder="是否系统">
                                                <option value="0">是</option>
                                                <option value="1">否</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info " id="ubtnSubmit" type="submit"> <i class="ace-icon fa fa-check bigger-110"></i>  提交 </button>
                                            &nbsp; &nbsp; &nbsp;
                                            <button class="btn " id="ubtnReset" type="reset"> <i class="ace-icon fa fa-undo bigger-110"></i>  重置 </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>

@section scriptsplugin {
    <script src="~/assets/js/chosen.jquery.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    @*<script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>*@
    @*<script src="~/Scripts/ui-bootstrap-tpls.min.js"></script>*@
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script>
        var baseUrl = '@Url.Content("~/")';
    </script>

    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/controllers/userinfo.js"></script>
}
@section scripts {

}