<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>

        <!-- #section:basics/sidebar.layout.shortcuts -->
        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>

        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>

        <!-- /section:basics/sidebar.layout.shortcuts -->
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
    <li class="">
        <a href="/home/index">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> 控制台 </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="active">
        <!--第一级菜单-->
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon glyphicon glyphicon-th-list"></i>
            <span class="menu-text">
                基础信息管理
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <!--第二级菜单-->

            <li class="">
                <!--第二级菜单-->
                <a href="/Admin/UserInfo/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <i class="glyphicon glyphicon-user"></i>
                    用户信息管理
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <!--第二级菜单-->
                <a href="/Admin/RoleInfo/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <i class="fa fa-users"></i>
                    角色信息管理
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <!--第二级菜单-->
                <a href="/Admin/SystemInfo/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <i class="fa fa-desktop"></i>
                    系统信息管理
                </a>
                <b class="arrow"></b>
            </li>
            @*<li class="">
                    <a href="/Admin/ModelInfo/Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <i class="glyphicon glyphicon-list"></i>
                        菜单信息管理
                    </a>
                    <b class="arrow"></b>
                </li>*@
            <li class="">
                <!--第二级菜单-->
                <a href="/Admin/buttoninfo/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <i class="fa fa-cubes"></i>
                    按钮信息管理
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <!--第一级菜单-->
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-file-archive-o"></i>
            <span class="menu-text">
                日志信息管理
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <!--第二级菜单-->

            <li class="">
                <!--第二级菜单-->
                <a href="/Manager/DataDiction/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <i class="glyphicon glyphicon-user"></i>
                    登陆日志管理
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <!--第二级菜单-->
                <a href="/Manager/DataDiction/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <i class="fa fa-pencil-square-o"></i>
                    操作日志管理
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <!--第二级菜单-->
                <a href="/Manager/GoodsInfo/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <i class="fa fa-exclamation-triangle"></i>
                    错误日志管理
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul><!-- /.nav-list -->
<!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>